<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous"> -->
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
     <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="css/price_rangs.css">
            <link rel="stylesheet" href="css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="css/themify-icons.css">
            <link rel="stylesheet" href="css/slick.css">
            <link rel="stylesheet" href="css/nice-select.css">
            <link rel="stylesheet" href="css/style.css">
            <!-- <link rel="stylesheet" href="/css/tailwind.build.css"> -->
</head>
<body>
  

  <div class="">
    <%- include('../partials/header.ejs')  %>
    <main class="main ">
        
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs')  %>
  </div>  


  <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="js/jquery.slicknav.min.js"></script>
		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/price_rangs.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="js/wow.min.js"></script>
		<script src="js/animated.headline.js"></script>
        <script src="js/jquery.magnific-popup.js"></script>
		<!-- Scrollup, nice-select, sticky -->
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
		<script src="js/jquery.sticky.js"></script>
        <!-- contact js -->
        <script src="js/contact.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>  
		<!-- Jquery Plugins, main Jquery -->	
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html>